<h1>Simple Calculator</h1>
<%= form_with url: calculate_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :first_number, "First Number:" %>
    <%= form.number_field :first_number, step: :any %>
  </div>
  
  <div>
    <%= form.label :operator, "Operator:" %>
    <%= form.select :operator, ['+', '-', '*', '/'] %>
  </div>
  
  <div>
    <%= form.label :second_number, "Second Number:" %>
    <%= form.number_field :second_number, step: :any %>
  </div>
  
  <div>
    <%= form.submit "Calculate" %>
  </div>
<% end %>

<% if @result.present? %>
  <h2>Result: <%= @result %></h2>
<% end %>
